@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Russo+One&display=swap');

@font-face {
    font-family: 'Commodore 64 Angled';
    src: url('Commodore 64/Commodore Angled v1.2.ttf') format('truetype');
}

:root {
    --background-color: #F2F1D0;
    --header-background-color: #142126;

    --title-color: var(--background-color);
    --title-font: "Russo One", sans-serif;
    --title-hover-color: rgb(56,82,72,0.27);

    --options-color: #66F289;
    --options-font: 'Commodore 64 Angled';

    --content-title-color: #142126;
}

body {
    background-color: var(--background-color);
}

.headline {
    height: 8vh;

    display: flex;
    align-items: center;

    background-color: var(--header-background-color);
}

.headline__title {
    height: 8vh;
    padding: 0 10% 0 10%;

    display: flex;
    align-items: center;

    font-family: var(--title-font);
    font-size: 6vh;
    box-sizing: border-box;

    transition: all 0.3s ease;
}

.headline__title:hover {
    border-bottom: 0.1px solid;
    border-color: var(--header-background-color);
    background-color: var(--background-color);
}

.title__link {
    text-decoration: none;
    color: var(--title-color);

    transition: color 0.3s ease;
}

.headline__title:hover .title__link {
    color: var(--header-background-color);
}

.headline__options {
    width: 50%;

    display: flex;
    align-items: center;

    font-family: var(--options-font);
    color: var(--options-color);
    font-size: 4vh;
}

.topics__button {
    display: none;
}

.topics__button:checked~.topics__label {
    background-color: var(--title-hover-color);
    text-shadow: 0.05rem 0rem var(--options-color);

    transition: all 0.3s ease;
}

.topics__button:checked~.topics__list {
    display: block;
    
    background-color: var(--header-background-color);
}

.topics, .blog {
    padding: 0 1em;
    height: 8vh;
    
    display: flex;
    align-items: center;

    transition: all 0.3s ease;
}

.topics__list {
    width: 14.5%;

    display: none;
    position: absolute;
    top: 8vh;

    font-size: 50%;
    font-family: var(--title-font);
}

.topics__item {
    padding: 0.5rem 0 0.5rem 0.5rem;
    box-sizing: border-box;
    border: 0.05px solid var(--title-hover-color);

    transition: all 0.3s ease;
}

.topics__link {
    color: var(--options-color);
    text-decoration: none;
}

.blog__link {
    text-decoration: none;
    color: var(--options-color);
}

.blog:hover, .topics:hover, .topics__item:hover {
    background-color: var(--title-hover-color);
}